#metricflow-panel {

    position: fixed;

    top: 100px;
    right: 20px;

    width: 280px;

    background: rgb(101, 187, 31);

    border-radius: 12px;

    padding: 15px;

    box-shadow: 0 0 15px rgba(0,0,0,0.3);

    z-index: 999999;
}

#metricflow-panel h2 {
    margin-top: 0;
}

#metricflow-panel input {

    width: 100%;

    margin-bottom: 10px;

    padding: 8px;

    box-sizing: border-box;
}

#metricflow-panel button {

    width: 100%;

    padding: 10px;

    cursor: pointer;
}